<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Todo List</h1>
    <form action="/" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="description" placeholder="Description">
        <button type="submit">Add Todo</button>
    </form>
    <ul>
        <% todos.forEach(todo => { %>
            <li>
                <a href="/<%= todo._id %>"><%= todo.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
