.DS_Store
*/**/node_modules

Full Stack Training.mindnode
TypeScript.mindnode
images/
pre_slides/
pre_draw/
books/
.idea/
.env

marp-diagrams/
projects/

# Ignore package-lock.json in the parent directory
../package-lock.json

# Ignore all files in the public directory
public/
