.color-components {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-selector, .color-selector {
    margin: 10px;
}

.components-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.colored-component {
    position: relative;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.colored-component input {
    width: 80%;
    margin-top: 10px;
}

.colored-component input,
.colored-component label {
    z-index: 2;
    cursor: text;
}
