.todo-list {
  max-width: 450px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: left;
}

.todo-list input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.clear-btn {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.clear-btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.todo-list button {
  margin-bottom: 10px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.completed {
  text-decoration: line-through;
}

.todo-list input[type="checkbox"] {
  margin-right: 10px;
}
