.login_page_container {
    width: 400px;
    margin: auto;
}

.inputfield {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: none;
}

.inputfield:focus {
    box-shadow: none;
    outline: 5px solid rgb(103, 194, 255); /* Changed "soild" to "solid" */
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
}
