.container{
    display: flex;
    flex-direction: column;
}

.controller-container{
    display: flex;
    justify-content: space-evenly;

}

.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}